RCLONE_VFS_CACHE_MODE={{ item.vfs_cache_mode | default('full') }}
RCLONE_VFS_CACHE_MAX_SIZE={{ item.vfs_cache_size | default('off') }}
RCLONE_VFS_CACHE_MIN_FREE_SPACE={{ item.vfs_cache_min_free_space | default('off') }}
{% if item.vfs_read_ahead is defined %}
RCLONE_VFS_READ_AHEAD={{ item.vfs_read_ahead }}
{% endif %}
{% if item.vfs_read_chunk_size is defined %}
RCLONE_VFS_READ_CHUNK_SIZE={{ item.vfs_read_chunk_size }}
{% endif %}
{% if item.vfs_read_chunk_streams is defined %}
RCLONE_VFS_READ_CHUNK_STREAMS={{ item.vfs_read_chunk_streams }}
{% endif %}
{% if item.dir_cache_time is defined %}
RCLONE_DIR_CACHE_TIME={{ item.dir_cache_time }}
{% endif %}
