RCLONE_VFS_CACHE_MODE={{ item.vfs_cache_mode | default('full') }}
RCLONE_VFS_CACHE_MAX_SIZE={{ item.vfs_cache_size | default('off') }}
RCLONE_VFS_CACHE_MIN_FREE_SPACE={{ item.vfs_cache_min_free_space | default('off') }}
