{
    "geodata": {
        "cron": "0 4 * * *",
        "outbound": "proxy",
        "assets": [
        { "url": "https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/geoip.dat", "file": "geoip.dat" },
        { "url": "https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/geosite.dat", "file": "geosite.dat" }
        ]
    }
}
